aiohttp==3.11.7
beautifulsoup4==4.12.3
charset_normalizer==3.4.0
dashscope==1.20.13
diskcache==5.6.3
faiss-gpu==1.7.2
fuzzywuzzy==0.18.0
huggingface_hub==0.26.2
json5==0.9.28
jsonschema==4.23.0
langchain==0.3.9
langchain_community==0.3.9
langchain_core==0.3.21
langchain_huggingface==0.1.2
openai==1.57.0
onnxruntime==1.20.1
Pillow==11.0.0
pydantic==2.10.3
PyQt5==5.15.11
PyQt5_sip==12.15.0
python-levenshtein
rembg==2.0.60
Requests==2.32.3
tiktoken==0.7.0
torch==2.5.1
transformers==4.46.3
pygame==2.6.1
